Repository simulationcraft/simc, pull requests merged in 2018-08, with the labels that each got.

#4398 [Priest] Small RE addition to DV
  engine/class_modules/priest/sc_priest_shadow.cpp
Labels: ActionPriorityList

#4399 [Survival] add arcane torrent to sv apl and update butchery
  engine/class_modules/sc_hunter.cpp
  profiles/Tier21/T21_Hunter_Survival.simc
Labels: ActionPriorityList, Hunter

#4403 Accurate Talents/Gear for Blood DK
  profiles/generators/PreRaids/PR_Generate_Death_Knight.simc
Labels: DeathKnight

#4419 fixed trait try other trinket
  profiles/Tier22/T22_Death_Knight_Blood.simc
Labels: DeathKnight

#4433 [Arcane] Remove Time Warp line for Exodar
  engine/class_modules/sc_mage.cpp
Labels: ActionPriorityList, Mage, Need More Data

#4456 [Hunter] Updating Arcane Torrent
  engine/class_modules/sc_hunter.cpp
  profiles/PreRaids/PR_Hunter_Survival.simc
  profiles/Tier21/T21_Hunter_Survival.simc
  profiles/Tier22/T22_Hunter_Survival.simc
Labels: ActionPriorityList, Hunter

#4478 [Arcane] Increase DPS on 2 targets
  engine/class_modules/sc_mage.cpp
Labels: ActionPriorityList, Mage, Need More Data
