Repository simulationcraft/simc, pull requests merged in 2020-10, with the labels that each got.

#5340 [Warlock] Implement Wrath of Consumption
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock.hpp
  engine/class_modules/warlock/sc_warlock_affliction.cpp
Labels: Shadowlands, Warlock

#5346 [Warlock] Update Decimating bolt for 9.0.2.36086 and add more Malefic Rapture spells
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock_affliction.cpp
Labels: Shadowlands, Warlock

#5339 [Warlock] Add Sacrolash legendary
  engine/class_modules/warlock/sc_warlock.hpp
  engine/class_modules/warlock/sc_warlock_affliction.cpp
Labels: Shadowlands, Warlock

#5366 Implenment Implonsive Pontential
  engine/class_modules/warlock/sc_warlock.hpp
  engine/class_modules/warlock/sc_warlock_demonology.cpp
Labels: Shadowlands, Warlock

#5373 Warrior Shield Slam out of bounds fix.
  engine/class_modules/sc_warrior.cpp
Labels: Shadowlands, Warrior

#5378 Fix gui.pro for MacOS Builds
  gui/gui.pro
Labels: GUI

#5305 [Shaman] Baseline Enhance Changes
  engine/class_modules/sc_shaman.cpp
Labels: Shadowlands, Shaman

#5412 [Shaman] Enhancement Changes
  engine/class_modules/sc_shaman.cpp
Labels: Shaman

#5348 [Warlock] Implement Soul rot
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock.hpp
  engine/class_modules/warlock/sc_warlock_affliction.cpp
Labels: Shadowlands, Warlock

#5415 [Death Knight] Add deadliest coil legendary
  engine/class_modules/sc_death_knight.cpp
Labels: DeathKnight

#5428 [Warlock] Soul Tithe Conduit
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock.hpp
  engine/class_modules/warlock/sc_warlock_demonology.cpp
  engine/class_modules/warlock/sc_warlock_pets.cpp
Labels: Shadowlands, Warlock

#5411 Protection Paladin (Phase 2)
  dbc_extract3/dbc/generator.py
  engine/class_modules/paladin/sc_paladin.cpp
  engine/class_modules/paladin/sc_paladin.hpp
  engine/class_modules/paladin/sc_paladin_protection.cpp
  engine/class_modules/paladin/sc_paladin_retribution.cpp
Labels: Paladin

#5358 [Warlock] Implement Impending Catastrophe
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock.hpp
  engine/class_modules/warlock/sc_warlock_affliction.cpp
Labels: Shadowlands, Warlock

#5444 [Death Knight] Build 36294 conduit changes
  engine/class_modules/sc_death_knight.cpp
Labels: DeathKnight

#5417 [DK] Shadowlands APL's
  engine/class_modules/sc_death_knight.cpp
Labels: ActionPriorityList, DeathKnight

#5419 Replace Dark thoughts cooldown hack by using charge system.
  engine/class_modules/priest/sc_priest.hpp
  engine/class_modules/priest/sc_priest_shadow.cpp
Labels: Priest
