Repository simulationcraft/simc, pull requests merged in 2020-09, with the labels that each got.

#5225 [shaman] basic shadowlands support
  engine/class_modules/sc_shaman.cpp
  profiles/PreRaids/PR_Shaman_Elemental.simc
  profiles/PreRaids/PR_Shaman_Enhancement.simc
  profiles/generators/PreRaids/PR_Generate_Shaman.simc
Labels: Shaman

#5295 [Feral Druid] Fix Brutal Slash and Primal Fury
  engine/class_modules/sc_druid.cpp
Labels: Druid, Shadowlands

#5297 [Feral Druid] Fix Bloodtalons
  engine/class_modules/sc_druid.cpp
Labels: Druid, Shadowlands

#5302 [Warlock] Fixes.
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock.hpp
Labels: Shadowlands, Warlock

#5323 [Warlock] Implement Scouring Tithe
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock.hpp
Labels: Shadowlands, Warlock

#5322 [Warlock] Implement Decimating Bolt
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock.hpp
  engine/class_modules/warlock/sc_warlock_affliction.cpp
  engine/class_modules/warlock/sc_warlock_demonology.cpp
  engine/class_modules/warlock/sc_warlock_destruction.cpp
Labels: Shadowlands, Warlock

#5306 [Warlock] Implemented Conduits and added dot to Malefic Rapture
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock_affliction.cpp
Labels: Shadowlands, Warlock

#5342 owlweave/catweave variables
  engine/class_modules/sc_druid.cpp
Labels: Druid, Shadowlands
