Repository simulationcraft/simc, pull requests merged in 2021-07, with the labels that each got.

#6029 [Warlock] 9.1 trinkets
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock_demonology.cpp
Labels: Warlock

#5999 [Warlock] Fleshcraft in opener for emeni
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock_demonology.cpp
Labels: Warlock

#6050 [Warlock] Demonology APL - Fix Opener
  engine/class_modules/warlock/sc_warlock_demonology.cpp
Labels: Warlock

#6048 [Warlock] Fix issue with vilefiend bile spit cast
  engine/class_modules/warlock/sc_warlock_demonology.cpp
  engine/class_modules/warlock/sc_warlock_pets.cpp
  engine/class_modules/warlock/sc_warlock_pets.hpp
Labels: Warlock

#6054 [Shaman] Elemental APL - Adjust Fae Transfusion to play with fae legendary
  engine/class_modules/sc_shaman.cpp
Labels: ActionPriorityList, Shaman

#6056 [Demonology] Fix decimating bolt timing for kevin
  engine/class_modules/warlock/sc_warlock_demonology.cpp
Labels: Warlock

#6065 [Paladin] Updating for T27 Protection
  engine/class_modules/paladin/sc_paladin_protection.cpp
  profiles/generators/Tier27/T27_Generate_Paladin.simc
Labels: Paladin

#6104 [BrM] APL updates for Invoke Niuzao / pause action
  engine/class_modules/apl/apl_monk.cpp
Labels: ActionPriorityList, Monk
