Repository simulationcraft/simc, pull requests merged in 2021-01, with the labels that each got.

#5713 Priest: Split pets into their own file.
  engine/class_modules/priest/sc_priest.cpp
  engine/class_modules/priest/sc_priest.hpp
  engine/class_modules/priest/sc_priest_pets.cpp
  source_files/QT_engine.pri
  source_files/VS_engine.props
  source_files/cmake_engine.txt
  source_files/engine_make
Labels: Priest

#5720 Priest spelldata cleanup
  engine/class_modules/priest/sc_priest.cpp
  engine/class_modules/priest/sc_priest.hpp
  engine/class_modules/priest/sc_priest_discipline.cpp
  engine/class_modules/priest/sc_priest_holy.cpp
  engine/class_modules/priest/sc_priest_shadow.cpp
Labels: Priest

#5719 Priest: Move APL code into separate apl files, similar to DK/mage.
  engine/class_modules/apl/apl_priest.cpp
  engine/class_modules/apl/apl_priest.hpp
  engine/class_modules/priest/sc_priest.cpp
  engine/class_modules/priest/sc_priest.hpp
  engine/class_modules/priest/sc_priest_discipline.cpp
  engine/class_modules/priest/sc_priest_holy.cpp
  engine/class_modules/priest/sc_priest_shadow.cpp
  profiles/PreRaids/PR_Priest_Discipline.simc
  profiles/PreRaids/PR_Priest_Shadow.simc
  profiles/PreRaids/PR_Priest_Shadow_Necrolord.simc
  profiles/Tier26/T26_Priest_Discipline.simc
  profiles/Tier26/T26_Priest_Shadow.simc
  profiles/Tier26/T26_Priest_Shadow_Necrolord.simc
  source_files/QT_engine.pri
  source_files/VS_engine.props
  source_files/cmake_engine.txt
  source_files/engine_make
Labels: ActionPriorityList, Priest

#5722 Monk split
  engine/class_modules/apl/apl_monk.cpp
  engine/class_modules/apl/apl_monk.hpp
  engine/class_modules/monk/sc_monk.cpp
  engine/class_modules/monk/sc_monk.hpp
  engine/class_modules/monk/sc_monk_pets.cpp
  source_files/QT_engine.pri
  source_files/VS_engine.props
  source_files/cmake_engine.txt
  source_files/engine_make
Labels: Monk

#5728 Priest: Refactor option variables and use priest. prefix
  engine/class_modules/priest/sc_priest.cpp
  engine/class_modules/priest/sc_priest.hpp
  engine/class_modules/priest/sc_priest_shadow.cpp
Labels: Priest

#5731 fatal touch fix
  engine/class_modules/monk/sc_monk.cpp
Labels: Monk

#5727 [Priest] implement unholy transfusion leech healing
  engine/class_modules/priest/sc_priest.cpp
  engine/class_modules/priest/sc_priest.hpp
  engine/class_modules/priest/sc_priest_shadow.cpp
Labels: Priest

#5730 Update apl_monk.cpp
  engine/class_modules/apl/apl_monk.cpp
Labels: Monk

#5734 [DK] APL Updates
  engine/class_modules/apl/apl_death_knight.cpp
Labels: DeathKnight

#5747 [Death Knight] Frost DK 2H buff
  engine/class_modules/sc_death_knight.cpp
Labels: DeathKnight

#5754 [Priest] localize heal actions inside parents
  engine/class_modules/priest/sc_priest.cpp
  engine/class_modules/priest/sc_priest.hpp
  engine/class_modules/priest/sc_priest_shadow.cpp
Labels: Priest

#5745 Retribution APL Optimizations
  engine/class_modules/paladin/sc_paladin_retribution.cpp
  profiles/PreRaids/PR_Paladin_Retribution.simc
  profiles/Tier26/T26_Paladin_Retribution.simc
Labels: ActionPriorityList, Paladin
