Repository simulationcraft/simc, pull requests merged in 2021-03, with the labels that each got.

#5830 [Warlock] 9.0.5 Spell Updates
  engine/class_modules/warlock/sc_warlock.cpp
  engine/class_modules/warlock/sc_warlock_affliction.cpp
  engine/class_modules/warlock/sc_warlock_destruction.cpp
Labels: Warlock

#5828 [Death Knight] Remove ptr checks
  engine/class_modules/sc_death_knight.cpp
Labels: DeathKnight

#5797 [DK] Trinket APL updates
  engine/class_modules/apl/apl_death_knight.cpp
  profiles/generators/Tier26/T26_Generate_Death_Knight.simc
Labels: DeathKnight

#5831 Protection Warrior - Reprisal implementation + APL
  engine/class_modules/sc_warrior.cpp
Labels: Warrior

#5843 [Death Knight] Death's Due only procs on MH swings on live
  engine/class_modules/sc_death_knight.cpp
Labels: DeathKnight

#5844 [Death Knight] T26 Frost 2H Oblit profile
  profiles/T26_Raid.simc
  profiles/generators/Tier26/T26_Generate_Death_Knight.simc
Labels: DeathKnight

#5776 [Shaman] Updated resto racial APL
  engine/class_modules/sc_shaman.cpp
Labels: Shaman

#5735 Updating Demonology APL for more damage
  engine/class_modules/warlock/sc_warlock_demonology.cpp
Labels: Warlock

#5857 Protection Warrior Unnerving Focus / Show of Force
  engine/class_modules/sc_warrior.cpp
Labels: Warrior

#5856 [DK] Night Fae APL Optimizations
  engine/class_modules/apl/apl_death_knight.cpp
Labels: ActionPriorityList, DeathKnight
