Repository simulationcraft/simc, pull requests merged in 2022-03, with the labels that each got.

#6427 Bonestorm RP Fix
  engine/class_modules/sc_death_knight.cpp
Labels: DeathKnight

#6347 [Paladin] Prot T28 4pc bonus update
  engine/class_modules/paladin/sc_paladin.cpp
  engine/class_modules/paladin/sc_paladin.hpp
  engine/class_modules/paladin/sc_paladin_protection.cpp
Labels: Paladin

#6445 [Death Knight] Blood apl and profile update
  engine/class_modules/apl/apl_death_knight.cpp
  profiles/generators/Tier28/T28_Generate_Death_Knight.simc
Labels: DeathKnight

#6342 [Paladin] Prot T28 profile
  profiles/generators/Tier28/T28_Generate_Paladin.simc
Labels: Paladin

#6416 [Warrior] start work on T28
  engine/class_modules/sc_warrior.cpp
Labels: Warrior

#6414 Protection Warrior T28 Profile
  profiles/generators/Tier28/T28_Generate_Warrior.simc
Labels: Warrior
