Repository simulationcraft/simc, pull requests merged in 2023-06, with the labels that each got.

#7768 [Player] implement Symbol of Hope external buff
  engine/class_modules/priest/sc_priest.cpp
  engine/class_modules/priest/sc_priest.hpp
  engine/class_modules/priest/sc_priest_holy.cpp
  engine/player/player.cpp
  engine/player/player.hpp
Labels: Priest

#7767 [WARLOCK] Changes to the APL - target.time_to_die.
  engine/class_modules/apl/warlock.cpp
Labels: Warlock, ActionPriorityList, important

#7786 [Vengeance] refactor Fracture implementation
  engine/class_modules/sc_demon_hunter.cpp
Labels: DemonHunter

#7806 [Vengeance] fix Fiery Demise affected by
  engine/class_modules/sc_demon_hunter.cpp
Labels: DemonHunter

#7823 Make Surv APL use Fury of the Eagle in ST when Djaruun is not equipped
  engine/class_modules/apl/apl_hunter.cpp
  engine/class_modules/apl/hunter/sv.txt
Labels: Hunter, ActionPriorityList

#7799 [APL] Demonology Warlock APL Change - Power Siphon use inside Tyrant …
  engine/class_modules/apl/warlock.cpp
Labels: Warlock, ActionPriorityList

#7801 Demonology APL update - Guillotine with BB.
  engine/class_modules/apl/warlock.cpp
Labels: Warlock, ActionPriorityList

#7822 [Monk] WIP PtA Update
  engine/class_modules/monk/sc_monk.cpp
Labels: Monk
