Repository simulationcraft/simc, pull requests merged in 2024-08, with the labels that each got.

#9220 [Monk] Fix Double Decrement Cyclone Strikes
  engine/class_modules/monk/sc_monk.cpp
Labels: Monk

#9272 [Subtlety] Dslice APL update
  engine/class_modules/apl/apl_rogue.cpp
  engine/class_modules/apl/rogue/subtlety.simc
Labels: Rogue

#9288 [Warlock] First Affliction APL
  engine/class_modules/apl/warlock.cpp
Labels: Warlock

#9287 [Warlock] First Demonology APL
  engine/class_modules/apl/warlock.cpp
Labels: Warlock

#9290 [Warlock] First Destruction APL
  engine/class_modules/apl/warlock.cpp
Labels: Warlock

#9262 [monk] Fix Mystic Touch behaviour. Convert Combo Strikes to parsed effect. Update TWW1 4p BrM tier set.
  engine/class_modules/monk/sc_monk.cpp
  engine/class_modules/monk/sc_monk.hpp
Labels: Monk
